<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroku</title>
    <link
      rel="shortcut icon"
      href=" https://www.kibrispdr.org/data/620/health-logo-png-14.jpg"
      type="image/x-icon"
    />
    <!-- https://res.cloudinary.com/dhzi2feeu/image/upload/v1657870618/saringan_hfdc1c.ico-->
  </head>
  <body>
    <div
      style="
        background-image: url(https://res.cloudinary.com/dhzi2feeu/image/upload/v1667615055/svsv_ex7w2a.jpg);
        width: 100vw;
        height: 100vh;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        overflow: hidden;
      "
    ></div>

    <!-- <form action="/setup_profile" method="post">
      <input type="text" name="id" id="dr" />
      <button type="submit">submit</button>
    </form>
    <br />
    <form action="/setup_persistent_menu" method="post">
      <input type="text" name="id" id="dr" />
      <button type="submit">Setup persistent menu</button>
    </form> -->

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script>
      var chatbox = document.getElementById("fb-customer-chat");
      chatbox.setAttribute("page_id", "102214835997138");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: "v15.0",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
  </body>
</html>
